// nextflow.config

params {
    samplesheet           = "${projectDir}/data/sample_sheet.csv"
    cellranger_libraries  = "/project/ANGEL/shared/Pipeline_test/Data/CellRanger_libraries"
    cellranger_results    = "/project/ANGEL/shared/Pipeline_test/Data/CellRanger_results"
    souporcell_results    = "/project/ANGEL/shared/Pipeline_test/Data/Souporcell_results"
    cellbender_results    = "/project/ANGEL/shared/Pipeline_test/Data/CellBender_results"
    seurat_results        = "/project/ANGEL/shared/Pipeline_test/Data/Seurat_results"
    transcriptome         = "/databank/10x-rangers/refdata-gex-GRCh38-2020-A"
    ref_fasta             = "/databank/10x-rangers/refdata-gex-GRCh38-2020-A/fasta/genome.fa"
    logs_dir              = "${projectDir}/logs"
}


process {
    executor       = 'slurm'
    queue          = 'short'
    cpus           = 8
    memory         = '48 GB'
    time           = '24h'
    errorStrategy  = 'retry'
    maxRetries     = 2

    clusterOptions = '--mail-type=BEGIN,END,FAIL --mail-user=kristian.gurashi@ndcls.ox.ac.uk'

    withLabel: 'long' {
        queue  = 'long'
        cpus   = 16
        memory = '96 GB'
        time   = '144h'
    }

    withLabel: 'basic' {
        queue  = 'short'
        cpus   = 1
        memory = '1 GB'
        time   = '8h'
    }

    withLabel: 'build' {
        queue  = 'short'
        cpus   = 4
        memory = '16 GB'
        time   = '8h'
    }

    withLabel: 'gpu' {
        queue          = 'gpu'
        cpus           = 4
        memory         = '24 GB'
        time           = '24h'
        clusterOptions = '--mail-type=BEGIN,END,FAIL --mail-user=kristian.gurashi@ndcls.ox.ac.uk --gres=gpu:1'
    }
}

// Execution reports
report {
    enabled   = true
    file      = "${launchDir}/reports/pipeline_report.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${launchDir}/reports/timeline.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${launchDir}/reports/trace.txt"
    overwrite = true
}
